@charset "utf-8";

/*예시) 영역별 큰제목 & 작은제목 & 설명글 공통*/
:root{
    --main:50px;
    --sub:30px;
    --text:20px;
}

.main-title{
    font-family: "Lugrasimo", cursive;
    font-weight: bold;
    font-size: 60px;
}
.sub-text1{
    font-family: "Lugrasimo", cursive;
    font-size: 25px;
}
.sub-text2{
    font-family: "Lugrasimo", cursive;
    font-size: 18px;
}

