
@import url(./reset.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

* body * {
    outline: 2px dashed #ccc;
}

.top-area{
    height: 150px;
}

.page-area{
    margin-top: 39px;
}

.logobx-area{
    margin-top: 39px;
    height: 10px;
}




/* 메인파트 전체박스 */
.main-area {
    padding: 80px;
    padding-bottom: 60px;
    background: url(../IMG/sub01_main.jpg) no-repeat center/cover;
  }